p.current-joke {
    position: absolute;
    top: 16em;
    left: 37em;
    font-size: 1.5em;
    width: 20%;
    max-height: 19%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

p.current-joke::-webkit-scrollbar {
    width: 8px;
}
/* iOS style*/
p.current-joke::-webkit-scrollbar-thumb{
background-color: #cd9b66;
border-radius: 4px;
}

.more-btn {
    text-align: center;
}

.more-btn:hover {
    cursor: pointer;
}

.random {
    border-radius: .2em;
    position: relative;
    left: 65em;
    bottom: 3em;
    background-color: inherit;
    border-color: #f15a24;
    color: #f15a24;
}

.random:active {
    background: #f15a24
} 