p.current-joke {
    position: absolute;
    top: 16em;
    left: 37em;
    font-size: 1.5em;
    width: 20%;
    max-height: 19%;
    text-align: center;
    overflow-x: none;
    overflow-y: scroll;
}

button.random {
    position: relative;
    left: 65em;
    bottom: 3em;
    background-color: inherit;
    border-color: #f15a24;
    color: #f15a24;
}