ul.list-category {
    border: .05em solid;
    width: 11%;
    height: 24em;
    margin: 4em 0 0 40em;
    border-radius: 1.5em;
    color: #e98227;
    border-color: black;
    list-style-type: none;
    overflow: hidden;
}

li.category {
    font-size: 2em;
}

li.category.active {
    color: black;
    text-decoration: underline;
}